<!doctype html>
<html>
<head>
<title>hello</title>

<script src="static/src/wavesurfer.js"></script>
<script src="static/src/util.js"></script>
<script src="static/src/webaudio.js"></script>
<script src="static/src/mediaelement.js"></script>
<script src="static/src/drawer.js"></script>
<script src="static/src/drawer.canvas.js"></script>
<script src="static/src/audiosequence.js"></script>
<script src="static/plugin/wavesurfer.timeline.js"></script>
<script src="static/plugin/wavesurfer.regions.js"></script>
<script src="static/src/jquery.js"></script>


<script>
function onPlay() {
    console.log('inside onPlay');
    waveObj.wave.play();
}
function onStop() {
    console.log('inside onStop');
    waveObj.wave.stop();
}
function onPlay1() {
    console.log('inside onPlay');
    waveObj1.wave.play();
}
function onStop1() {
    console.log('inside onStop');
    waveObj1.wave.stop();
}
function onPlay2() {
    console.log('inside onPlay');
    waveObj2.wave.play();
}
function onStop2() {
    console.log('inside onStop');
    waveObj2.wave.stop();
}

</script>
</head>
<body>
<h1>D-vector Speaker Segmentation Tools</h1>
<h3>Original Speech Conversation</h3>
<div class="container">
<div class="demo">
    <div id="waveform"></div>
    <div id="wave-timeline"></div>
</div>
</div>
<strong>|</strong>
<button onclick="onPlay()">Play</button>
<button onclick="onStop()">Stop</button>
<strong>|</strong>
<button id="selbutton">Select One Speaker</button>
<button id="clearbutton">Clear Selection</button>
<strong>|</strong>

<h3>D-vector segmntation & K-meams clustering</h3>
<div class="container">
<div class="demo">
        <div id="waveform1"></div>
        <div id="wave-timeline1"></div>
</div>
</div>
<strong>|</strong>
<button onclick="onPlay1()">Play</button>
<button onclick="onStop1()">Stop</button>
<strong>|</strong>

<h3>D-vector segmentation & known one speaker model</h3>
<div class="container">
<div class="demo">
        <div id="waveform2"></div>
        <div id="wave-timeline2"></div>
</div>
</div>
<strong>|</strong>
<button onclick="onPlay2()">Play</button>
<button onclick="onStop2()">Stop</button>
<strong>|</strong>

<hr>
<div>
    Zoom
    <input type="range" id="zoom" min="4" max="16" value="4" step="1" style="width=100%"/>
</div>
<hr>

<form id="seg_form" action="/upload_wav" method="post" enctype="multipart/form-data">
<h3>Segment of model selection</h3>
start: <input type=text id='start_p' name=start> end: <input type=text id='end_p' name=end><br>
<input type="file" name="fileupload" id="wavefile" value="open" text="open" >
</form>
<button id="seg">Execute Segmentation</button><img id="loading" hidden="hidden" height="20" width="20" src="static/loading.gif" />

<script type="text/javascript">
  $(function() {
    $('#seg').click(function() {
    var form= new FormData(document.getElementById("seg_form"));
    $.ajax({
            url:"/upload_wav",
            type:"post",
            data:form,
            dataType: 'json',
            processData:false,
            contentType:false,
            beforeSend:function(){
                $("#loading").show();
            },
            success:function(data){
                $("#loading").hide();
                //console.log(data.result);
                $("#result").text(data.result);
                var obj = eval(data.result[0])
                //console.log(obj)
                for(var key in obj){
                    console.log(obj[key][0][0],obj[key][0][1],obj[key][1])
                    if (obj[key][1]==1){
                        waveObj1.wave.addRegion({color: 'rgba(0, 255, 0, 0.2)', start: obj[key][0][0], end: obj[key][0][1]});
                    }else{
                        waveObj1.wave.addRegion({color: 'rgba(0, 255, 255, 0.2)', start: obj[key][0][0], end: obj[key][0][1]});
                    }
                }

                var obj = eval(data.result[1])
                //console.log(obj)
                for(var key in obj){
                    console.log(obj[key][0][0],obj[key][0][1],obj[key][1])
                    if (obj[key][1]==1){
                        waveObj2.wave.addRegion({color: 'rgba(0, 255, 0, 0.2)', start: obj[key][0][0], end: obj[key][0][1]});
                    }else{
                        waveObj2.wave.addRegion({color: 'rgba(0, 255, 255, 0.2)', start: obj[key][0][0], end: obj[key][0][1]});
                    }
                }
            },
            error:function(e){
                    alert("没有取得数据");
            }
        })
    });
  });
</script>

<script src="static/local.js"></script>

<h3>说明</h3>
1. 点击”选择文件“按钮加载语音文件(文件需要为wav格式，采样率为8k-16bit)<br>
2. 加载成功后可以看见面板上出现语音波形，在Original Speech 部分播放试听，选择一个已知的说话人模型，点击"select one speaker"，让选择的起止时间点记录到下方start和end文本框中<br>
3. 点击“Execute Segmentation”进行对话的说话人分割，分割处理会需要一段时间（与语音长度有关），请耐心等待！<br>

</body>

</html>

